body{
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font-family: 'Muli', sans-serif;
}
/* Start Navbar */
a{
	text-decoration: none;
}
a:hover, a:focus, a:active{
	text-decoration: none;
}
.menu{
	background-color: #0994a2;
}

nav a, .icon{
	color: hsla(0,0%,100%,.8);
}
.navbar-brand{
	padding-left: 0;
	padding: 14px 0;	
}
.navbar-brand:hover,.navbar-brand:focus,.navbar-brand:active{
	color: #fff;
}
.btn-login{
	background-color: #0994a2;
	border: 1px solid #fff;
	text-transform: capitalize;
}
.btn-login:hover{
	background-color: #0994a2;
}
.input-group-addon{
	background: #fff;
}
.text{
	padding:2px;
    outline: none;
}
.top-menu li a{
	letter-spacing: .03em;
	line-height: 1.8em;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0;	
	display: inline-block;
}
.top-menu>li>a:hover,.top-menu>li>a:focus,.top-menu>li>a:active{
	background: none;
	color: #fff;
}
/* End navbar */


/* Start Search */
.search-box-div{
	background-color: #fff;
    padding: 15px 0;
    border-radius: 15px 15px 0 0;
}
.cst-search-box{
	border: 1px solid rgba(0, 0, 0, 0.10)!important;
}
/* Start Search */